.keyboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.keyboard-row {
    display: flex;
    margin-bottom: 10px;
}

.keyboard-button {
    margin: 5px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.keyboard-special-button {
    background-color: #f0f0f0;
}

.enter-button {
    background-color: #d4edda;
}

/* Estilos para dispositivos menores que 525px */
@media (max-width: 525px) {
    .keyboard-container {
        transform: scale(0.85); /* Reduz o tamanho em 15% */
    }

    .keyboard-button {
        margin: 4px; /* Ajusta os espaçamentos para manter a harmonia */
        padding: 8px 12px; /* Reduz o padding */
        font-size: 14px; /* Reduz o tamanho da fonte */
    }

    .keyboard-row {
        margin-bottom: 5px; /* Reduz o espaçamento entre as linhas */
    }
}